*.log
*.zip
.DS_Store

/.env
/.env.*
!/.env.example
!/.env.production.example

/.fleet
/.idea
/.phpunit.cache
/.phpunit.result.cache
/.vscode

/auth.json
/node_modules
/vendor

/bootstrap/cache/*.php
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/api-docs
